<!-- templates/movies.html-->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  </br>
  Type movie title to search for:
  </br>
  <form action="" method="post">{% csrf_token %}
     </br>
     <input name="film_title" type="text" placeholder="Search...">
     <input type="submit" value="OK">
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}