<!-- templates/movies.html-->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    </br>
    {% if favourite %}
        Your favourite films are:
        {% for film in favourite %}
            </br>
            {{ film.film_title }}
        {% endfor %}
    {% endif %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  </br>
  Type keyword to search matching films:
  </br>
  <form action="" method="post">{% csrf_token %}
     </br>
     <input name="film_query" type="text" placeholder="Search...">
     <input type="submit" value="OK">
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}